/**
* BASIC SETUP
**/

html {
    height: 100%;
}

body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: #48A;
}

.bar {
    display: inline-block;
    margin-left: 50px;
    width: 35px;
    background-color: teal;
    fill: orange;
}

/*
Indented tree - structure of files
 */

.node rect {
  cursor: pointer;
  fill: #fff;
  fill-opacity: 0.5;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
}

.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}
