/**
* BASIC SETUP
**/

html {
    height: 100%;
}

body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: #48A;
}

div.bar {
    display: inline-block;
    margin-left: 50px;
    width: 20px;
    height: 175px;   /* We'll override this later */
    background-color: teal;
}
